/*1364997158,178142527*/

._6kv{margin:8px 0 0}
._4vcw ._6kv{margin-top:8px}
._52c6{border:1px solid;border-color:#e9e9e9 #e2e2e2 #d1d1d1;bottom:3px;left:2px;position:absolute;right:2px;top:1px}
._dcs{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yS/r/VdM2WRLZ6iI.png), url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yS/r/VdM2WRLZ6iI.png), url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yS/r/VdM2WRLZ6iI.png);background-position:0 0, -530px 100%, -1060px 0;background-repeat:no-repeat, no-repeat, repeat-y;margin:-1px -2px -3px;padding:2px 3px 4px;position:relative}
._4_w4:hover{background-position:-1590px 0, -2120px 100%, -2650px 0}
._dcs .__c_:after{border-color:rgba(0, 0, 0, .098) rgba(0, 0, 0, .149) rgba(0, 0, 0, .231)}
._dcs:hover ._52c6{border-color:#e2e2e2 #dadada #ccc}
._4-eo{box-shadow:0 1px 3px rgba(0, 0, 0, .41);display:block}
._9_q ._4-eo{width:initial !important}
._4vcx ._50z9, ._4vcx ._50z9 ._517g{height:526px !important}
._4vcx ._50z9 img{top:0 !important}
._9_q{background:#000;box-shadow:none}
._9_q ._4-ep{margin:0 auto}
._6m2{background-color:#fff;position:relative;z-index:0}
._6m3{float:left;font-size:12px;height:131px;margin:10px 12px 0;overflow:hidden;position:relative;width:340px}
._6ks.exploded + ._6m3{float:none;height:auto;margin-bottom:12px;width:auto}
._6m4 ._6m3{height:initial;margin-bottom:13px;width:480px}
._6ks{float:left;margin:-1px;position:relative;z-index:1}
._6ks .music_button_img_wrap{z-index:1}
._6m5{background-position:50% 50%;background-repeat:no-repeat;display:block;height:154px;width:154px}
._6m2:hover ._6m5{color:rgba(0, 0, 0, .15)}
._6m6{font-family:Georgia, 'lucida grande',tahoma,verdana,arial,sans-serif;font-size:18px;font-weight:500;line-height:22px;margin-bottom:4px;max-height:44px;overflow:hidden;word-wrap:break-word}
._53ia ._6m6{max-height:110px}
._6m6, ._6m6 a{text-decoration:none;-moz-transition:color .1s ease-in-out}
._6m6 a{color:#232b37}
._5277 ._6m2 ._6m6 a, ._6m2:hover ._6m6, ._6m2:hover ._6m6 a{color:#2e57aa}
._6m4._6m8 ._6m6{margin-bottom:0}
._6m8 ._6m6{max-height:92px}
._6m7{font-family:Georgia, 'lucida grande',tahoma,verdana,arial,sans-serif;line-height:16px;max-height:48px;overflow:hidden}
._53ia ._6m7{max-height:80px}
._6m9{margin-top:22px}
._6ma ._6mb{bottom:0;color:#adb2bb;font-size:11px;position:absolute;text-transform:uppercase;width:100%}
._6m4 ._6mb{margin-top:10px;position:initial}
._6m4 ._6m9{margin-top:0}
._6m4._6m8 ._6mb{margin-top:5px}
._501a{border:solid #e2e2e2;border-width:0 0 1px 1px;height:32px;padding:2px;position:absolute;right:2px;top:2px;width:32px}
._522u{bottom:2px;position:absolute;right:2px}
div._2as{height:57px;padding:0}
div._2as ._2ay, div._2as ._2ay:hover{background:#fff;border-top:0;color:#aaa;text-decoration:none}
div._2as .uiMorePagerPrimary{padding:18px 28px}
div._2as .uiMorePagerLoader{padding:23px 0 0}
._6ly{width:613px}
._6ly ._6lz a, ._6ly a._6lz{color:#6a7180}
._6l-{position:relative}
._6l-:after{border:1px solid rgba(0, 0, 0, .15);bottom:0;content:'';left:0;position:absolute;right:0;top:0}

._1f84{font-size:14px;font-weight:200;padding:15px 0;text-shadow:0 1px #fff}
._8ru ._521o{padding-bottom:8px}
._1f86{font-weight:normal}
._5277 ._1f84 a{color:#2e57aa}
._1f84 a{color:#232b37;font-weight:bold}
._8ru ._1f84 ._1f87{display:block;font-size:14px}
._i6m ._8ry, ._i6m ._6kq, ._i6m ._8rz{display:none}
._dxr{position:absolute;right:4px;top:4px}
._dxr._50gq{right:10px;top:40px}
._6kq ._dxs{background:0;border:0;box-shadow:none;height:10px;opacity:0;padding:5px 3px 4px;width:13px}
._200n{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/bZ9XfP2NNai.png);background-repeat:no-repeat;background-size:auto;background-position:-76px -10px;display:block;height:10px;width:13px}
._6kq:hover ._dxs{border-radius:4px;opacity:1}
._6kq ._dxs:hover{background:#b3b3b3;background:rgba(0, 0, 0, .3)}
._dxs:hover ._200n{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/bZ9XfP2NNai.png);background-repeat:no-repeat;background-size:auto;background-position:-104px -10px}
._6kq .selected ._dxs{background:#999;background:rgba(0, 0, 0, .4);border-radius:4px 4px 0 0;opacity:1}
._6kq .selected ._200n{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/bZ9XfP2NNai.png);background-repeat:no-repeat;background-size:auto;background-position:-90px -10px}
._6l1{display:inline-block}
._6l2{position:relative;top:-2px}
._6l2 .uiSelectorButton{background-image:none}
._6l2 .uiSelectorButton:hover{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y9/r/WCWeQT3eSXp.png);background-repeat:no-repeat;background-size:auto;background-position:right -546px}
._6kq ._6mc{line-height:15px;margin-top:6px}
._4q_ ._6mc{margin-top:10px}
._4vcw ._4q_ ._6mc{margin-top:9px}
._6mc, ._6kq ._6mc ._cv7, ._6kq ._6mc a{color:#adb2bb}
._6kq ._6mc ._cv7{display:inline-block}
._6rl ._6rm{margin:6px 0 10px}
._4vcw ._6rl ._6rm{margin-bottom:6px}
._6rl ._6ro{margin:9px 0 8px}
._6rl ._6rp{margin:14px 0}
._6rl ._6rq{margin:0 0 12px}
._4vcw ._6rl ._6rp, ._4vcw ._6rl ._6rq{margin-bottom:8px}
._6rl ._52c2{border-left:2px solid #d3d7dc;color:#898f9c;padding-left:10px}
._6rl ._52c2 ._6nm, ._6rl ._52c2 ._6nl a, ._6rl ._6ro ._4_j7 a, ._6rl ._52c2 ._6nm ._50jn a, ._6rl ._52c2 ._6nm a.profileLink{color:#898f9c}
._5277 ._6rl ._52c2 ._6nm a.profileLink{color:#2e57aa}
._6rr ._6mc{margin-top:6px}
._6kq._6xn{padding-top:8px}
._6xn ._6tc{margin-bottom:8px}
._6xn ._6td, ._6xn ._6td._6nl a{color:#898f9c;font-size:12px}
._6xn ._6td._52a5, ._6xn ._6td._6nl._52a5 a{color:#141823;font-size:14px}
._5277 ._6xn ._6td._52a5 a{color:#2e57aa}
._6xn ._6td{margin:3px 0 9px}
._6xn ._52a5{margin:0}
._6xn ._52a5 a{font-weight:bold}
._53jf ._19hq{left:-74px;top:-11px}
._4vt4{float:right;margin:-4px 0 0}
._6lx{position:relative}
._6rz:after{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y9/r/WCWeQT3eSXp.png);background-repeat:no-repeat;background-size:auto;background-position:-613px -45px;content:'';height:34px;left:-1px;position:absolute;top:-1px;width:34px}
._6ns{margin:0 0 4px 61px;position:relative}
._4vcw ._6ns{margin-bottom:2px}
._6kq{background:#fff;border-left:1px solid #d3d6db;border-right:1px solid #d3d6db;font-family:'Helvetica Neue', Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;padding:10px 12px 12px;position:relative}
._6kq ._6kq{border:0;border-top:1px solid #f3f3f3;margin:0 -12px;padding-bottom:0;padding-top:10px}
._8ry{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/bZ9XfP2NNai.png);background-repeat:no-repeat;background-size:auto;background-position:0 -5px;height:4px;position:relative;top:3px;width:552px;z-index:1}
._8rz{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/bZ9XfP2NNai.png);background-repeat:no-repeat;background-size:auto;background-position:0 0;height:4px;position:relative;top:-2px;width:552px}
._6nv{width:526px}
._4-k1{vertical-align:-3px}
._6nl, ._6nm{color:#141823;font-size:14px;line-height:18px;max-width:480px}
._6kq ._6nl{outline:none}
._x_y{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/bZ9XfP2NNai.png);background-repeat:no-repeat;background-size:auto;background-position:-139px -10px}
._51l-{margin-bottom:-2px;margin-right:5px}
._6nm ._42wl{float:left}
._6nl a, ._6ns ._6nm ._50jn a{color:#141823;font-weight:bold}
._6ns ._6nm ._50jn a.weakReference{color:gray;display:inline-block}
._6nm{margin-bottom:5px;margin-top:4px}
._4vcw ._6nm{margin-bottom:0;margin-top:2px}
._4q_ ._6nm{margin-bottom:10px}
._4vcw ._4q_ ._6nm{margin-bottom:5px}
._6nm p{margin:8px 0}
._6nm p:first-child{margin-top:0}
._6nm p:last-child{margin-bottom:0}
._6kq .text_exposed_root > p:last-of-type{display:inline}
._6kq .text_exposed > p:first-child, ._6kq .text_exposed > p:last-of-type{display:block}
._5277 ._6nl a, ._5277 ._6ns ._6nm ._50jn a, ._5277 ._6nm a.profileLink, ._6ns ._6nm a{color:#2e57aa}
._5277 ._6nm a.profileLink{font-weight:normal}
._6nm a.profileLink{color:#141823;font-weight:bold}
._6nm a.weakReference{color:gray;display:inline-block}
._6nm a.weakReference i{margin-right:3px}
._6np{font-weight:bold}
._cv8{display:inline-block}
._cv8 .img{height:10px;margin-top:2px;vertical-align:top;width:10px}
._6kq .text_exposed_link{display:inline;font-size:100%;padding:0 0 0 4px}
._6kq .text_exposed .text_exposed_show .text_exposed_link{display:inline !important}
._6kq .text_exposed_link a{color:#2e57aa}
._6kq .userContent{display:inline}
._6nl ._52eh{color:#6a7480}
._6mi{padding-bottom:5px}
._6mi ._6mk{margin-right:12px}
._6mi ._6mk:after{border:1px solid rgba(0, 0, 0, .08)}
._19hq{display:block;left:-62px;position:absolute;top:0}
._6kq ._6kq ._19hq{top:-1px}
._19hq ._6mn, ._19hq ._6mn img{height:56px;width:56px}
._96h{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/bZ9XfP2NNai.png);background-repeat:no-repeat;background-size:auto;background-position:0 -10px;height:58px;left:-1px;position:absolute;top:-1px;width:58px}

.uiGroupsAddTypeaheadView .member{background-color:#f7f7f7}
.uiGroupsAddTypeaheadView .member .text{color:#9c9c9c}
.uiGroupsAddTypeaheadView .member .subtext,
.uiGroupsAddTypeaheadView .member .category{color:#b5b5b5}
.uiGroupsAddTypeaheadView .member.selected{background-color:#e9e9e9}
div.uiGroupsAddTypeaheadView .member.selected{border-color:#d2d2d2}
.uiGroupsAddTypeaheadView .member.selected .text{color:#676767 !important}
.uiGroupsAddTypeaheadView .member.selected .subtext,
.uiGroupsAddTypeaheadView .member.selected .category{color:#929292 !important}
._4--o{background-color:#f6f7f8;padding:11px 14px 7px}
._4--p{color:#232b37;font-size:14px;font-weight:bold}
._4--o ._4--q{color:#898f9c;font-size:12px;margin-top:3px}
.groupsCoverPhoto{margin:0 -20px 0 -20px}
.groupsCoverPhoto{margin-top:-2px}
#mainContainer .groupJumpLayout div#rightCol{padding-top:0}
#mainContainer .groupJumpLayout div#headerArea{padding-bottom:10px}
.hasLeftCol #mainContainer .hasRightCol.groupJumpLayout div#contentArea{padding-left:10px;padding-right:10px;padding-top:0}
#mainContainer div#contentCol.groupJumpLayout{padding-top:0}
.groupJumpLayout .groupComposerCleanWrap{margin-left:-10px;padding-left:15px;padding-top:5px}
.groupJumpLayout .fbTimelineSection{background:none;border:none;padding:0}
.groupJumpLayout .fbEditCover .profilePicNotch{display:none}
.groupNotificationsSelector .selected .uiButtonText{color:#fff}
.groupJumpLayout #fbProfileCover .coverWrap{height:250px}
.groupJumpLayout #fbProfileCover{margin:0}
.groupJumpLayout #fbProfileCover .fbProfileCoverPhotoSelector{bottom:auto;right:11px;top:10px;z-index:10}
.groupJumpLayout #fbProfileCover .coverNoImage .fbProfileCoverPhotoSelector{display:none;top:10px}
.groupJumpLayout #fbProfileCover .coverNoImage:hover .fbProfileCoverPhotoSelector{display:block}
.groupJumpLayout .fbProfileCoverPhotoSelector .uiMenuItem .itemAnchor{padding:1px 6px}
.groupJumpLayout .fbProfileCoverPhotoSelector .uiSelectorMenuWrapper{background-color:#000;left:auto;right:0}
.groupJumpLayout #fbProfileCover .coverEditor{margin-bottom:30px}
.groupJumpLayout #fbProfileCover .coverNoImage{border-bottom:none;height:auto}
.groupJumpLayout #fbProfileCover .coverBorder{border:none;display:none}
.groupJumpLayout #pagelet_group_actions, .groupJumpLayout .groupNotificationsSelector{display:inline-block}
.groupsParentNux{background-color:#f5f6f8;border-bottom:1px solid rgba(0, 0, 0, .2);margin:-2px -20px 0 -20px;padding:10px 15px 18px 15px;position:relative;z-index:10}
.groupsParentNuxText{line-height:15px;margin-top:-12px;width:600px}
.groupsJumpBarTop{background-color:#f2f2f2;border-bottom:1px solid #ccc;border-top:1px solid #fff;margin:0 -20px 0 -20px;padding:0}
.groupsJumpBarTop .groupsCleanLinks{margin-top:-1px;position:absolute}
.groupsJumpBarTop .groupsCleanLink{color:#565656;border-top:1px solid #fff;border-right:none;display:inline-block;font-weight:bold;margin-right:0;padding:7px 10px 8px}
.groupsJumpBarTop .groupsCleanLinkBorder{border-right:1px solid #dbdbdb}
.groupsJumpBarTop .groupsCleanLinkBorder:first-child{border-width:0 1px 0 0}
.groupsJumpBarTop .groupsCleanIconLink{padding:8px 10px 4px}
.groupsJumpBarTop .groupsCleanLinkName{color:#999;padding:0 10px 0 0}
.groupsJumpBarTop .groupsCleanLinksSelected .groupsJumpTitle, .groupsJumpBarTop .groupsCleanLinksSelected{background-color:#fff;color:#333}
.groupsJumpBarTop .groupsCleanLinksSelected.groupsCleanLinkName{color:#999}
.groupsJumpBarTop .groupsCleanLinksBorder{background-color:#fff;height:4px;margin-bottom:-4px;margin-right:0;position:relative}
.groupsJumpActionsPlaceholder{height:28px}
.groupsJumpActions{margin:3px 4px 4px 0}
.groupsJumpTitle{color:#565656;display:inline-block;font-size:13px;overflow:hidden;max-width:500px;text-overflow:ellipsis;white-space:nowrap;padding:6px 0 4px 10px}
.groupsJumpInfoArea{margin:0 -20px 0 -20px;padding:20px 10px 0 10px}
.groupsJumpInfoBox{width:511px}
ul.groupsJumpActions > li{border-color:#dbdbdb}
.groupsJumpActions .uiButton{border:1px solid #f2f2f2;border-bottom-color:#f2f2f2;background:none;box-shadow:none}
.groupsJumpActions{border-left:1px solid #dbdbdb}
.groupsJumpSearchButton{display:inline-block;padding:6px 6px 0 10px}
.groupsJumpHeaderSearchWrap{position:relative;height:21px}
.groupsJumpHeaderSearch{position:absolute;right:0;z-index:10}
.groupsJumpHeaderSearch .uiSearchInput input{width:180px}
.groupsJumpPrivacyIconText .img{margin-top:2px}
.uiIconText.groupsJumpPrivacyIconText{margin-left:2px;padding-left:18px}
.groupsJumpPrivacyIcon{display:inline-block;margin-bottom:-2px}
.groupsJumpPrivacyIconHover{display:inline-block;margin-top:2px}
.groupsJumpPrivacyIconLink{display:inline-block;padding:9px 0 5px;vertical-align:top}
a.groupsPrivacyHeader:hover{text-decoration:none}
.groupsJumpActionsItem .uiButton{padding:2px 10px}
.groupsJumpActionArea{margin-left:-10px}
.groupsJumpAreaBox{width:511px}
.groupsJumpInfoDivider{border-bottom:1px solid #eee;margin-bottom:10px;padding-bottom:10px}
.groupsJumpInfoSpace{margin-bottom:10px}
.groupsCreateIcon .img{margin-top:1px;margin-left:3px}
.groupHugFrame{background-color:#fafafa}
.groupHugFace, .groupHugFiller{display:inline-block;vertical-align:bottom;zoom:1}
.groupHugFace:hover{text-decoration:none}
.groupHugFrame .mask{background-color:#fff;height:100%;left:0;opacity:.5;position:absolute;top:0;white-space:nowrap;width:100%}
.groupHugFaceHover:hover .groupHugFaceTip{display:block}
.groupHugFaceTip{background-image:-moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .7));bottom:0;color:#fff;cursor:pointer;display:none;font-weight:bold;padding:10px 5px 3px;position:absolute;word-wrap:break-word}
.groupHugFace .liveFacesFacepileStyle{display:block}
.groupNotificationsSelector .uiButton .img, .groupNotificationsSelector .img{margin-top:2px;margin-left:2px}
.groupsCleanLinks{margin-top:4px}
.groupComposerCleanWrap{border-top:1px solid #e5e5e5;margin-left:-18px;padding-top:9px;padding-left:18px;padding-bottom:4px}
.groupJumpLayout .groupComposerCleanWrap{border-top:none}
.groupJumpLayout .uiStreamHomepage .uiStreamStory:first-child{margin-top:-5px}
.groupsCleanLink .groupsTabIcon{margin-bottom:0;margin-right:4px}
.groupsCleanLink .groupsShiftedTabIcon{margin-bottom:-1px;margin-right:4px}
.groupsCleanLink{margin-right:8px}
.groupSlimSummaryRowContent{padding-top:1px}
.groupSlimSummaryRow .text_exposed_link{font-size:9px;padding-left:5px}
.groupSlimSummaryRow .text_exposed_link a{color:#6d82b8}
.groupsChildGroupPhoto{display:block;margin-right:8px}
.groupsChildGroupFriendHeader{background-color:#fafafa;border:1px solid #e9e9e9;margin-bottom:-1px;padding:5px 8px}
.groupsChildGroupFriendArrow{display:block;height:5px;margin-top:9px;width:10px;background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yB/r/Gn1YHqath4X.png);background-repeat:no-repeat;background-size:auto;background-position:-187px -135px}
.groupsChildGroupFriendArrowUp{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yB/r/Gn1YHqath4X.png);background-repeat:no-repeat;background-size:auto;background-position:-28px -153px}
.groupsChildGroupFriendName{color:#3b5998}
.groupJumpLayout.homeFixedLayout #rightCol .uiHeaderSection, .groupJumpLayout.homeFixedLayout #rightCol .uiSideHeader, .groupJumpLayout.homeFixedLayout .uiHeaderSection, .groupJumpLayout.homeFixedLayout .uiSideHeader{border-bottom:none;border-top:1px solid #e5e5e5;margin-bottom:8px;padding:3px 6px}
.groupJumpLayout.homeFixedLayout #rightCol .uiHeaderSection a, .groupJumpLayout.homeFixedLayout #rightCol .uiSideHeader a, .groupJumpLayout.homeFixedLayout .uiHeaderSection a, .groupJumpLayout.homeFixedLayout .uiSideHeader a{color:#6d84b4}
.groupJumpLayout .groupsGroupSideLink{display:inline-block;max-width:180px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.groupsMoreGroupsDivider{border-top:1px solid #e9e9e9}
.groupsCreateDivider{border-top:1px solid #e5e5e5;margin-bottom:5px}
.groupJumpLayout .groupsCreateDivider{border-top:none}
.groupJumpLayout .groupsCoverPhoto{margin-left:-21px;margin-right:-21px;position:relative}
.groupJumpLayout .groupsJumpCoverBorder{border-bottom:1px solid rgba(0, 0, 0, .2);border-left:1px solid rgba(0, 0, 0, .2);border-right:1px solid rgba(0, 0, 0, .2);bottom:0;left:0;position:absolute;pointer-events:none;right:0;top:0}
.groupsSideMargin{margin-bottom:10px}
.groupsSideTopNegMargin{margin-top:-5px}
.groupsEmailVerifyTitle{font-size:12px}
.groupsEmailVerifyInput{margin-right:-1px;padding:5px 4px;width:160px}
.groupsEmailVerifyInputShort{width:120px}
.groupsVerificationSelector .uiPopoverButtonWithChevron{padding-bottom:4px;padding-top:5px}
.groupsVerificationSelector .uiPopoverButtonWithChevron .uiButtonText{margin-top:-2px}
.groupsVerificationManual{display:inline-block;height:16px}
.groupJumpLayout .uiComposer{border-bottom:none}
.groupsEditDescriptionLink{display:inline-block;margin:0 0 5px 0}
.groupsEditDescriptionArea{margin:0 1px}
.groupsEditDescriptionText{height:50px;width:225px}
.groupJumpLayout #contentArea .uiHeaderSection{margin-left:-10px;padding-left:10px}
.groupsLocationBox, .groupsAddMemberSideBox{margin:10px 6px}
.groupAddMemberHeader{margin-bottom:-5px;margin-top:10px}
.groupClaimAdminHeader{margin-bottom:3px;margin-top:10px}
.groupsStreamMemeberBox{border-top:1px solid #e9e9e9;margin-left:-10px;padding-left:15px;padding-right:5px}
.groupsStreamMemberBoxNames a:first-child{font-weight:bold}
.groupsSuggestAdminLink{display:inline-block;margin-top:2px}
.groupsSuggestTypeahead{margin-left:-1px;margin-right:5px}
.groupsCellWrap{padding-right:5px;word-break:break-all}
.groupsJumpSpacer{border-bottom:1px solid #e9e9e9;margin-bottom:-1px;margin-top:30px}
.groupsDescriptionBox{width:225px}
.groupsFilesRevisionTextArea{padding:5px;width:390px}
.groupsFilesDialogFooter{background:#f2f2f2;border-top:1px solid #ccc;margin:10px -20px -16px;padding:8px 10px 8px 10px;position:relative}
.groupMemberActionBar{margin:0 -20px;padding:5px 10px}
.groupMemberBrowser{margin:0 -20px;padding:0 15px}
.groupMemberSuggestionBrowser{margin:0 -10px 0 -20px;padding:0 15px}
.groupsMemberSearchBox{margin-left:-1px}
.groupsFileBox{margin-top:41px}
.groupsFilename{display:block;margin-left:-21px;word-break:break-all;word-wrap:break-word}
.groupsAddMemberSpacer{margin-bottom:30px}
.groupsJumpSubgroupHeader{margin:0 -10px}
.groupNotificationSelectorIconOnly .uiButton{padding:2px 6px 2px 3px}
.groupsInvitedSubtitle{margin-top:-6px}
.groupsFileImage{height:32px;width:32px}
.groupNotificationSelectorRow{text-align:left}
.groupsFileHeader{width:100%}
.uiSearchInput.groupsMemberSearchLite input{padding-bottom:1px}
.groupsEditDescriptionHeader{font-weight:bold}
.groupRecommendedInfo{width:176px}
.groupRecommendedDesc{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:inherit}
.groupRecommendationsList .uiList:empty{margin-bottom:0}
div.groupLaunchBox{border-radius:2px;padding:15px 20px 10px}
.groupsLaunchFooter{background-color:#f2f2f2;margin:5px -20px -10px;padding:0 15px 3px}
.groupsLaunchTitle{border-bottom:1px solid #e9e9e9;margin-bottom:5px;padding-bottom:10px}
.groupsLaunchRow{padding:5px 0}
.groupsLaunchRowCompleted{background-color:#f2f2f2;border-top:1px solid #ccc;margin:0 -15px;padding:5px 15px 8px}
.groupsLaunchRowCompleted{background-color:#f2f2f2;border-top:1px solid #ccc;margin:0;padding:5px 15px 8px}
.groupsLaunchRow .groupAddMemberTypeaheadBox{margin-right:-6px;margin-top:0;padding-right:0}
.groupsLaunchRow .uiGroupsAddTypeaheadView{margin-bottom:0}
.groupsLaunchRowMainCol{width:300px}
.groupsLaunchRowTypeahead{position:relative}
.groupsLaunchDescriptionEditor.DOMControl_placeholder, .groupsLaunchRowTypeahead .DOMControl_placeholder{color:#aaa}
.groupsLaunchRowTypeahead .loadingIndicator{position:absolute;right:10px;top:5px}
.groupsCommunityMarketingMain{border-radius:5px;margin-left:-10px;width:510px}
.groupsLiteLegacy .groupsCommunityMarketingMain{margin-left:0}
.groupsCommunityMarketingSide{width:220px}
.groupsCommunityMarketingList{margin-left:-9px;margin-top:10px}
.groupsLiteLegacy .groupsCommunityMarketingList{margin-left:1px}
.groupsCommunityMarketingSpacer{display:block;margin-bottom:4px}
.groupsRecAddMemberTypeaheadView{width:230px}
.groupsLaunchTypehaead{width:112px}
.groupSuggestedBox .groupSuggestedRow{padding:4px 0}
.groupSuggestedBox .groupSuggestedImage{height:30px;width:30px}
.groupSuggestedGrid{width:100%}
.groupSuggestedGridName{padding-left:10px;width:100%}
.groupsLaunchModuleTypeaheadView .calltoaction .text{color:#3b5998;font-weight:bold}
.groupsLaunchCounter{margin-left:7px;width:115px}
.groupsLaunchCounter .img{margin-right:1px}
.groupsFriendAdded{display:inline-block;height:22px;width:22px}
.groupsLaunchDescriptionEditor{height:50px;width:280px}
.groupsMailingListSpacer{width:380px}
.groupsMailingListTextarea{height:45px;width:370px}
.groupsLaunchGrid{width:100%}
.groupsLaunchGridLabel{padding:10px 0 10px 10px}
.uiInputLabelCheckbox.groupsLaunchGridCheck{margin-top:10px}
.groupsLaunchGridItem{margin-bottom:2px;width:222px}
.groupsLaunchGridItem:hover{background-color:#eceff5}
.groupsLaunchGridItem.checked{background-color:#d8dfea}
.groupsRecsEmbedHeader{border-top:1px solid #d2d2d2;margin:0 0 0 -10px;padding:5px 5px 5px 10px}
.groupsVerificationBoxWrapper{background-color:#f2f2f2;border-top:1px solid #ccc;border-radius:0 5px}
.groupsNewMembersReminder #groupsNewMembersLink{padding:0}
.groupsNewMembersReminder #groupsNewMembersLink:hover{background-color:transparent}
.groupsNewMembersLink{margin-top:12px}
.fbGroupsStream .uiStreamHeaderText{margin-left:50px}
.fbGroupsBoulderStream{margin-top:-5px}
.groupsStreamIcon{margin-left:34px}
.groupsStreamIcon .img{height:16px;width:16px}
.groupJumpLayout .fbGroupsBoulderStream .mainWrapper{margin-right:20px}
.groupJumpLayout .fbGroupsBoulderStream .uiStreamStory{margin-left:-10px}
.groupJumpLayout .fbGroupsBoulderStream .uiStream .uiStreamHeader{margin:20px 0 5px 0}
.groupJumpLayout .fbGroupsBoulderStream .uiStreamHeader .uiStreamHeaderText{margin-left:65px;padding-right:10px}
.groupsStreamSmallFace{margin-left:26px}
.groupsStreamSmallFace .img{height:24px;width:24px}
ul.fbGroupsBoulderStream .uiStreamHeader{border-width:1px 0 0 0;margin:15px 0 -1px -18px;padding-bottom:0}
.groupsSky ul.fbGroupsBoulderStream .uiStreamHeader{margin:15px -15px -1px}
.groupsSky .uiStream .uiStreamHeader .uiStreamHeaderText{margin-left:65px}
.groupJumpLayout .fbGroupsBoulderStream .uiStreamHeader{margin-left:-10px}
.uiStream .uiStreamNoBorderStory{border-width:0}
.uiStreamStory.uiStreamNoBorderStory .storyContent{margin:-3px 0 3px}
.groupsMallSelector{margin-left:-10px}
.fbGroupsPinnedSection{margin-bottom:3px;margin-top:-13px}
.uiStream.fbGroupsBoulderStream .uiStreamHeader,
.uiStream .fbGroupsBoulderStream .uiStreamHeader{border:none}
.groupsPinnedLite{margin-top:-22px}
.groupAddMemberTypeaheadBox .plusIcon{position:absolute;z-index:2;top:7px;left:8px}
.groupAddMemberTypeaheadBox{margin-top:10px;padding-right:4px;padding-top:0;position:relative}
.groupAddMemberTypeaheadBox .innerWrap{margin-left:15px}
._7m2{height:137px;left:0;position:absolute;top:0;width:100%}
._7m3{height:137px;overflow:hidden}
._7lj{height:155px;position:relative;top:-9px;width:370px}
._7m4{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yG/r/8RHv8nDQAHL.png) repeat-x left top;bottom:0;height:93px;position:absolute;width:100%}
._7m5{z-index:4}
._7lh{display:none}
._7lg ._7lh{display:block;height:155px;position:absolute;top:-9px;width:370px}
._7lh ._7lj{top:0}
._7ld ._7lh ._7li{display:block;left:15px;position:absolute;top:0}
._7le ._7lh{border-left:1px solid rgba(0, 0, 0, .45);border-top:1px solid rgba(0, 0, 0, .45);height:11px;overflow:hidden;top:0;-moz-transform-origin:0 0;width:11px;z-index:1}
._7le ._7lh ._7lj{-moz-transform-origin:0 0}
._7lf._7le ._7lh ._7lj, ._7lf._7le ._7lh{-moz-transform-origin:100% 0}

._3ozo{background:#e9eaed;padding:14px 0 11px;position:relative;z-index:2}
._4vcw ._3ozo{padding-bottom:9px}
._53az ._3ozo{padding-bottom:11px;z-index:auto}
._53az ._53ax{z-index:1}
._3o-0{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yL/r/ZHnGu4K_0EG.png);bottom:-3px;height:3px;left:1px;opacity:0;position:absolute;right:1px;-moz-transition:opacity .1s linear}
._3ozm ._3o-0{opacity:.6}
._3ozo ._3o-1{bottom:-3px;margin:0;position:absolute}
._53az ._3ozo ._3o-1{top:auto}
._6cy #pageFooter{padding-left:12px;padding-right:324px;width:auto}
._49nu{left:-9999px;position:absolute}
._6bx ._4_wa{display:none}
._4_wa{margin-bottom:46px;position:relative}
._4_wa > div{margin-top:0}
._6bu{min-height:1000px}
._6by, ._6e0{display:none;margin:20px auto}
._6by, ._6bw ._6e0{display:block}
._3ozu{background:#fafbfb;border:1px solid #d7d8d9;border-radius:4px;overflow:hidden;width:300px}
._3ozu.animating{-moz-transition:height .3s}
._3ozk{height:36px}
._3ozu.animating ._3ozl{-moz-transition:margin-top .3s}
._7gb{box-shadow:0 1px rgba(255, 255, 255, .8) inset;display:block}
._7gb, ._3ozj._7gb:hover{border-top:1px solid #f0f1f5}
._3ozv{position:relative}
._7gb:hover{background:#f2f5f5;border-top:1px solid #ebeded;box-shadow:none;text-decoration:none}
._3ozj ._18q_{color:#4e5665}
._3ozu ._7gb:first-child{border-top:0}
._c9j{left:12px;margin-top:-8px;position:absolute;top:50%}
._3ozu ._3ozj, ._7hr ._7gb{background:#fff;font-weight:bold}
._18q_{color:#6a7180;font-size:14px;line-height:36px;padding:0 25px 0 36px;text-shadow:#fff 0 1px}
._3ozj ._18q_{color:#4e5665}
._3ozq{background:#d3d7dc;border-radius:16px;box-shadow:inset 0 1px 1px rgba(0, 0, 0, .1), 0 1px 1px #fff;color:#fff;float:right;font-size:11px;font-weight:bold;height:16px;line-height:16px;margin:10px 16px 8px 0;min-width:10px;padding:1px 6px 0;text-align:center;text-shadow:0 1px 1px rgba(0, 0, 0, .2)}
._3ozj ._3ozq{display:none}
._3ozw{opacity:0;-moz-transition:opacity .15s}
._3ozk ._3ozj ._3ozw{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yE/r/qfM2J6LpqZ5.png);background-repeat:no-repeat;background-size:auto;background-position:-65px -98px;height:15px;margin-top:-8px;opacity:1;position:absolute;right:10px;top:50%;width:11px}
._3ozp{display:block;margin:0 auto;padding:100px}
._50ac{padding:8px 0}
._50ac ._c9j{display:block;margin:0 auto;position:static}
._50ac ._18q_{display:none}
div._4_w9{padding:1px 0 1px 1px;width:613px}
._52v9{color:#232b37}
._9ld .fbTimelineSection{border:none;padding:0}
._9ld .groupsSkyHeader{border:1px solid #ccc;border-radius:0 0 3px 3px;border-top:none}
._9ld .groupsSkyNav{width:100%}
._9ld .groupsSkyNavContainer{background-color:#fff;border-bottom:0;border-radius:0 0 3px 3px;border-top:1px solid #eee;padding:3px 0;width:924px}
._9ld .groupsSkyFixedNav{border-bottom:0}
._9ld .groupsFullWidth{width:100%}
._9ld .groupsSkyFixedNav .groupsSkyNavContainer{border-bottom:1px solid #ccc;border-left:1px solid #ccc;border-right:1px solid #ccc;margin-left:-1px !important;z-index:10}
._9ld .groupsSkyFixedNav.groupsSkyHeader{padding-bottom:40px}
._9ld .groupsSkyNavTitle{display:block;max-width:240px;padding:6px 14px 6px}
._9ld .groupsSkyNameText{color:#232b37;display:block;font-size:15px;font-weight:bold;overflow:hidden;padding-left:24px;text-overflow:ellipsis;white-space:nowrap}
._9ld .groupsSkyNameText .img{margin-top:2px}
._9ld .groupsSkyNavTitleTab{display:block;position:relative}
._9ld .groupsSkyNavTab .groupsSkyNavLink{color:#444;display:block;padding:6px 15px}
._9ld .groupsSkyNavSelected, ._9ld .groupsSkyNavTab:hover{background-color:#f4f4f4}
._9ld .groupsSkyNavTab a:hover{text-decoration:none}
._9ld .groupsSkyNavTabActions{padding:5px 8px 5px 5px}
._9ld .groupsSkyNavTabActions:hover{background:none}
._9ld .groupsSkyNavTabBorder{border-right:1px solid #f4f4f4}
._9ld .groupsSkyNavTabBorderLeft{border-left:1px solid #f4f4f4}
._9ld .groupsSkyHeaderSearchWrap{height:21px;position:relative}
._9ld .groupsSkyHeaderSearch{background-color:#fff;margin:-8px;padding:8px 8px 0;position:absolute;right:0;z-index:10}
._9ld .groupsSkyHeaderSearch .uiSearchInput{height:20px}
._9ld .groupsSkyHeaderSearchWrap .inputtext{width:180px}
._9ld .groupsSkyHeaderSearch .uiSearchInput button{top:-1px}
._9ld .groupsSkyHeader #fbProfileCover .coverWrap{height:250px}
._9ld .groupsSkyHeader #fbProfileCover{margin:0}
._9ld .groupsSkyHeader #fbProfileCover .fbProfileCoverPhotoSelector{bottom:auto;right:11px;top:10px;z-index:10}
._9ld .groupsSkyHeader #fbProfileCover .coverNoImage .fbProfileCoverPhotoSelector{display:none;top:10px}
._9ld .groupsSkyHeader #fbProfileCover .coverNoImage:hover .fbProfileCoverPhotoSelector{display:block}
._9ld .groupsSkyHeader .fbProfileCoverPhotoSelector .uiMenuItem .itemAnchor{padding:1px 6px}
._9ld .groupsSkyHeader .fbProfileCoverPhotoSelector .uiSelectorMenuWrapper{background-color:#000;left:auto;right:0}
._9ld .groupsSkyHeader #fbProfileCover .coverEditor{margin-bottom:30px}
._9ld .groupsSkyHeader #fbProfileCover .coverNoImage{border-bottom:none;height:auto}
._9ld .groupsSkyHeader #fbProfileCover .coverBorder{border:none;display:none}
._9ld .groupsSkyHeader #fbProfileCover .profilePicNotch{display:none}
._9ld .groupsSkyActions .uiButton{background:none;border:1px solid #fff;box-shadow:none}
._9ld .groupsSkyActions .uiSelector .openToggler .uiSelectorButton{background:#6d84b4;border:1px solid #3b5998;border-bottom-color:#6d84b4}
._9ld .groupsSkySearchButton{display:inline-block;padding:6px 6px 0 6px}
._51tp{position:relative;top:-10px}
._c51{padding:12px 0}
._50zs{padding:0 0 4px}
._c51 .groupsEditDescriptionHeader{font-weight:normal}
._9ld ._72g{position:relative}
._c5c{margin-top:8px}
._c51 .groupsSideMargin, ._c51 .groupsAddMemberSideBox{margin:8px 0 0}
._c51 #pagelet_group_requests_summary .uiHeader{margin-top:15px}
#pagelet_group_suggested_members ._c51 .groupsMemberSuggestBox{margin-right:-5px}
._9ld ._c51 .groupAddMemberTypeaheadBox{margin-left:2px;padding-right:1px}
._c51 .groupAddMemberTypeaheadBox .plusIcon{left:6px;top:9px}
._c51 .groupAddMemberTypeaheadBox .innerWrap{height:23px;margin-left:13px}
._c51 .groupAddMemberTypeaheadBox .textInput{color:#888;font-size:11px;margin-top:3px}
._9ld ._c51 .uiGroupsAddTypeaheadView, ._9ld ._c51 .wrap, ._9ld ._c51 textarea{border-color:#d9d9d9}
._c51 .groupsEditDescriptionText{width:263px}
._c51 a{font-weight:bold}
._c51 .groupsEditDescriptionLink{margin:5px 5px 0}
._c51 .groupsEditDescriptionBox{margin-bottom:12px}
._c51 .groupsSkyDescription{overflow:hidden;padding-left:1px}
._9ld .groupComposerCleanWrap{border-top:none;margin-top:-4px;padding-top:0}
._4vcw .groupComposerCleanWrap ._6ns{margin-bottom:1px}
._9ld .groupsSkyContentHeader{border-bottom:1px solid #eee;margin-top:2px;padding-left:5px;padding-right:5px}
._9le .groupsSkyContentWideHeader{border-bottom:1px solid #eee;padding:8px 2px}
._9le{background:#fff;border:1px solid #c0c0bd;border-bottom-color:#969695;border-radius:3px;border-top-color:#d6d6d3;box-shadow:0 1px 1px rgba(0, 0, 0, .15);margin-bottom:20px;padding-bottom:10px}
._9ld #pagelet_group_requests, ._9le #pagelet_group_profile_members, ._9le .groupsSkyEvents, ._9le .groupsSkyPhotos{padding:15px}
._9le .groupMemberSuggestionBrowser, ._9le .groupMemberBrowser, ._9le .groupWideSearchBoxRow, ._9le .groupsRecsEmbedHeader, ._9le .groupsJumpSubgroupHeader{margin:0}
._9le .groupsRecsEmbedHeader{background:white;border-bottom:1px solid #eee;border-top:none;padding:10px}
._9le .groupLaunchBox{border:none;border-bottom:1px solid #ccc;border-radius:0;margin-bottom:0;padding-bottom:30px}
._9le .groupsLaunchFooter{margin:0;padding:0}
._9le .groupMemberActionBar{border:none;margin:0}
._9lf{padding:0 15px}
._9ld a._cmo{color:#444;font-weight:bold}
._9le .fbGroupCalendar
.fbCalendarList .fbCalendarItemContent{width:472px}
._9le
.fbCalendar.fbGroupCalendar
.fbCalendarHeader{padding:11px 19px 0}
._528a{position:absolute;right:5px;top:5px}
._c51 a{color:#232b37}
._70z .ego_column:first-child .uiHeader.uiSideHeader{border:0}
._6c3{font-family:Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif}
._6c3, ._6b-{position:relative;width:302px}
._53e- ._6b-{-moz-transform:translateZ(0)}
._53az ._53a-{background:#e9eaed;padding-top:11px;position:relative;top:-11px}
._6b-._4-kl{-moz-transition:all .3s !important}
._6di{background:#fff;border-left:1px solid #d3d6db;border-right:1px solid #d3d6db;position:relative}
._53a_{border-bottom:1px solid #d7d8d9;border-radius:4px;height:5px;position:absolute;top:-6px;width:302px}
._4_8c{min-height:216px}
._6dj, ._6dl{height:4px;position:relative;width:302px}
._6dj{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yE/r/qfM2J6LpqZ5.png);background-repeat:no-repeat;background-size:auto;background-position:0 -16px;margin:-1px 0 -3px;z-index:1}
._53az ._6dj{position:absolute;top:11px;z-index:auto}
._6dl{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yE/r/qfM2J6LpqZ5.png);background-repeat:no-repeat;background-size:auto;background-position:0 -11px;top:-2px}
._4--n{padding:0 12px}
._6c3 .title a{color:#232b37}
._5277 ._6c3 .title a{color:#2e57aa}
._6c3 ._6dm a{color:#898f9c}
._6dn, ._6dn ._6do a, ._6c3 .uiHeaderTop .uiHeaderTitle, ._6c3 .uiHeader.uiSideHeader, ._6c3 .uiHeader.uiSideHeader a, ._6c3 .uiHeader.uiSideHeader h6, ._6c3 .uiHeader.uiSideHeader .uiHeaderActions, ._6c3 .uiHeader.uiSideHeader .adsCategoryTitleLink{color:#898f9c;font-size:11px;line-height:12px}
._6do{margin-top:-1px}
._6c3 .uiHeader, ._6c3 .uiHeader.uiSideHeader{background:none;border-top:none;padding:12px 0 10px}
._6dn, ._6di .uiHeader, ._6di .uiHeader.uiSideHeader{border-top:1px solid #e9eaed;margin:0 -12px;padding:12px 12px 10px}
._6c3 .uiCloseButton{margin-right:-11px}
._4n5:first-child ._4oa8 .uiHeader, ._4n5:first-child ._6dn, ._4n5:first-child .ego_column:first-child .uiHeader.uiSideHeader{border:0}
._4n5:first-child .home_right_column .ego_column .uiHeader.uiSideHeader{border-top:1px solid #e9eaed}
._6dp, ._6c3 .uiHeaderTop .uiHeaderTitle, ._6c3 .uiHeader.uiSideHeader h6{font-weight:bold;text-transform:uppercase}
._6bv{bottom:0;position:absolute;right:0}
._8_9.ego_column{width:auto}
._8_9 .ego_section{margin:0}
._8_9 .ego_section .uiSideHeader{padding-bottom:0}
._8_9 .ego_section .ego_unit{margin:0;padding:12px 0}
._52z9 .ego_section .ego_unit{padding:8px 0}
._8_9 .ego_section .ego_unit:last-child, ._8_9.egoOrganicColumn .ego_section .ego_unit:last-child{padding-bottom:12px}
._8_9 .ego_section .adsCategoryIcon{margin-top:-2px}
._8_9 .ego_unit .action{margin-top:0}
._8_9 .ego_unit .action ._24x{outline:none}
._4tot{margin-left:12px;max-width:100px}
._8_9 .action .fbEmuContext{display:inline-block}
._8_9 .ego_unit .action ._24x, ._8_9 .action .fbEmuContext, ._8_9 .action .inlineContext{margin-top:8px}
._8_9 .action .inlineContext .fbEmuContext{margin-top:0}
._8_9 .ego_unit .action .fbEmuContext a, ._8_9 .ego_unit .messageBody, ._8_9 .ego_unit .messageBody a, ._8_9 .ego_unit .uiLinkSubtle, ._8_9 .ego_unit .eventRSVP a, ._8_9 ._a1z, ._8_9 ._a1z a{color:#898f9c}
._8_9 .fbEmuStreamStory .messageBody .whitespaceLink:hover, ._8_9 .fbEmuStreamStory .whitespaceLink:hover .fbEmuStreamOGAction, ._8_9 .fbEmuStreamStory .whitespaceLink:hover .fbEmuLikeMessage{background-color:#fff}
._8_9 .uiStream .uiStreamMessage{margin-bottom:0}
._8_9 .fbEmuStreamStory .fadStoryAttachment, ._8_9 .fbEmuStreamStory .fadStoryFooter{margin-top:8px}
._8_9 .fbEmuXThanksBody a{font-weight:bold}
._5277 ._8_9 .egoProfileTemplate a, ._5277 ._8_9 .ego_unit .uiStreamPassive a{color:#2e57aa}
._8_9 .ego_unit .uiStreamPassive a, ._8_9 .ego_unit .egoProfileTemplate a, ._8_9 .ego_unit .eventTitle, ._8_9 .ego_unit .fbEmuMainBody a, ._8_9 .ego_unit .fbEmuStreamStory .uiBlingBox .text{color:#232b37}
._8_9 .ego_unit .action .fbEmuContext a{display:inline;font-weight:bold}
._8_9 .ego_unit .adInfo{margin-bottom:4px}
._52z9 .ego_unit .adInfo{margin-bottom:0}
._8_9 .ego_unit .lfloat{margin-right:10px}
._8_9 .ego_unit .lfloat > .img{padding-top:0}
._8_9 .ego_unit .image_body_block, ._8_9 .ego_unit .fbEmuContext, ._8_9 .ego_unit_container{line-height:16px;padding:0}
._8_9 .ego_section .ego_unit:first-child, ._8_9.egoOrganicColumn .ego_section .ego_unit:first-child{padding-top:10px}
._8_9 .ego_unit .uiStream .uiStreamMessage{font-size:12px}
._8_9 .ego_unit .uiStarsRatable{margin-top:5px}
._8_9 .egoPlaceComboInput .uiTypeaheadSpan{padding:0}
._8_9 .uiTypeahead .uiCloseButton{margin-right:0}
._8_9.egoOrganicColumn .ego_section .ego_unit{border-top:0;padding:6px 0}
._8_9 .uiStream .uiStreamPassive{color:#4e5665;font-size:12px}
._8_9 .uiStream .uiStreamPassive a{font-weight:bold;text-decoration:none}
._502f .rhcFooterBorder{display:none}
._502f .rhcFooterWrap{margin-top:-24px;padding:10px 0 10px 8px}
._502f .rhcFooterWrap, ._502f .rhcFooterWrap a{color:#898f9c;text-shadow:0 1px #fff}
._502f .rhcFooterCopyright{padding:0}
._ag3 ._24x{border:none;width:100%}
.fbEmuStreamAttachment.fbEmuStreamPhotoStory._ag3{display:inline-block;margin:0}
.fbEmuStreamStory .fbEmuStreamAttachment._ag3:hover ._24x, ._ag3 ._24x:hover{border:none}
.fbEmuStreamStory .fbEmuStreamAttachment._ag3 .uiPhotoThumb .img{margin:0}
._7ee .fbReminders{padding:8px 0}
._7ee .fbReminders:empty{padding:0}
._7ee .fbReminders .fbRemindersStory{margin:0 -12px;padding:4px 12px}
._7ee .fbReminders .fbRemindersStory:hover{background-color:#f2f3f3}
._7ee .fbReminders .fbRemindersStory .fbRemindersRemove{margin-top:1px}
._7ee .fbReminders .fbRemindersStory._8_8{padding-left:11px}
._5277 ._7ee .fbReminders .fbRemindersStory strong em, ._5277 ._7ee .fbReminders .fbRemindersStory .fbRemindersTitle{color:#2e57aa}
._7ee .fbReminders .fbRemindersStory em, ._7ee .fbReminders .fbRemindersStory .fbRemindersTitle{color:#232b37}
._7ee .img{margin-right:8px}
.MessagingMessage .attachments .documentSelector{margin:2px 1px -4px -6px}
.MessagingMessage .attachments .documentSelector .uiSelectorButton{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y9/r/WCWeQT3eSXp.png);background-repeat:no-repeat;background-size:auto;background-position:right -202px;border:0;box-shadow:none}
.MessagingMessage .attachments .documentSelector .uiButtonText{color:#3b5998;font-weight:normal}
.MessagingMessage .attachments .documentSelector:hover .uiButtonText{text-decoration:underline}
.MessagingMessage .attachments .documentSelector .openToggler .uiButtonText{color:#333;text-decoration:none}
.MessagingMessage .attachments .documentSelector .uiMenu{margin-left:4px}
.fileActionRow{line-height:19px}
.fbPhotosGridHeader{margin:0 0 8px}
.uiHeader + .fbPhotosGridHeader{margin-top:0}
.sp_65obgl{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/bZ9XfP2NNai.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:10px;width:12px}
.sx_7209ad{height:12px;background-position:-98px -23px}
.sx_74d114{height:13px;background-position:-59px -23px}
.sx_e0e1dc{width:16px;height:12px;background-position:-59px -10px}
.sx_c7ba20{height:12px;background-position:-111px -23px}
.sx_dd024d{height:13px;background-position:-72px -23px}
.sx_647976{height:13px;background-position:-85px -23px}
.sx_43704c{width:58px;height:58px;background-position:0 -10px}
.sx_0b853f{width:552px;height:4px;background-position:0 0}
.sx_c27adf{width:552px;height:4px;background-position:0 -5px}
.sx_c2d16b{width:6px;height:9px;background-position:-132px -10px}
.sx_774d73{width:6px;height:9px;background-position:-139px -10px}
.sx_d124d9{width:13px;background-position:-76px -10px}
.sx_db4f5c{width:13px;background-position:-90px -10px}
.sx_07a423{width:13px;background-position:-104px -10px}
.sx_0f7e96{width:13px;background-position:-118px -10px}
._4bl7{float:left;min-height:1px}
._4bl8{float:right}
._4bl9{overflow:hidden}
._4bl7, ._4bl9{word-wrap:break-word}
._51xa{box-shadow:0 1px 1px rgba(0, 0, 0, .05);display:inline-block;vertical-align:middle}
._51xb{box-shadow:0 0 6px rgba(0, 0, 0, .6)}
._4-u2{background:#fff;border:1px solid #dddee1;border-radius:3px}
._4-u2 > :first-child, ._4-u2 > :first-child > :first-child, ._4-u2 > :first-child > :first-child > :first-child{border-top-left-radius:3px;border-top-right-radius:3px}
._4-u2 > :last-child, ._4-u2 > :last-child > :last-child, ._4-u2 > :last-child > :last-child > :last-child{border-bottom-left-radius:3px;border-bottom-right-radius:3px}
._4-u2 > ._4-u3{border-top:1px solid #e5e5e5}
._4-u2 > ._4-u3:first-child{border-top:none}
._4bmm{padding:0 10px 0 11px;width:926px}
._4_vt{margin:14px 0}
._4k2o{width:614px}
._4_vu ._4k2o{width:482px}
._4bmn{margin-left:10px;width:302px}
._4bmp{margin-left:10px;width:122px}
._4__a{background:#e9eaed}
body._4__a #globalContainer{width:947px}
body._4__a #content{margin-bottom:30px}
._4__a #contentCurve{height:0}
._4__a #blueBarHolder #blueBar{min-width:947px}
._4__a #blueBarHolder #blueBar #pageHead, ._4__a #pageHead .fbFacebar .fbFacebarTypeaheadItemMainContent, ._4__a ._50c9 ._6i1{width:924px}
.dynamicIconSelectorHideIcons .uiMenuItem .itemWithIcon .itemLabel{display:block}
.dynamicIconSelectorHideIcons .uiMenuItem .itemIcon{display:none}
.uiProfilePortrait{display:inline-block;overflow:hidden;padding:0 6px 6px 0;vertical-align:top;width:57px}
.uiProfilePortrait img{display:block;margin-bottom:3px}

#bootloader__FkLy { height: 42px; }