/*1364911519,178142509*/

.uiStaticOverlayMapCircularPinOuter{border:1px solid rgba(0, 0, 0, .45);border-radius:7px;width:13px;height:13px}
.uiStaticOverlayMapCircularPinInner{background-color:#fff;border-radius:3px;width:5px;height:5px;margin:4px}
._ix{left:0;pointer-events:none;position:absolute;top:0}
.uiGamesLeaderboardRow{margin-top:2px}
.uiGamesLeaderboardItem{background:#fff;width:368px}
.uiGamesLeaderboardItem .fill{height:32px}
.uiGamesLeaderboardItem .label{color:#999;display:inline-block;line-height:32px;padding-left:10px;white-space:nowrap}
._1oyt{border:1px solid #e9e9e9}
._g77{border:1px solid #e9e9e9}
._52qz{display:none;padding:3px;white-space:nowrap}
._52qz span._52q-{font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-weight:bold}
._52qz._52q_{min-width:80px}
._52qz._52r0{min-width:100px}
._52qz._52q_
span._52q-{font-size:17px}
._52qz._52r0
span._52q-{font-size:26px}
._52qz._52r1{display:block}
._52r2{border-left:1px solid #e9e9e9;margin-left:6px;margin-right:6px}
._52r2._52q_{height:40px}
._52r2._52r0{height:48px}
._52qx{display:none;overflow:hidden;padding:2px 2px 2px 6px}
._52qx._52qy{display:block}
._1-i{font-weight:bold;padding:4px;text-align:center;width:75px}
._1-i._3ir{width:120px}
.fbProfileShareSummarySection .fbProfileBylineFragment{color:#333;display:block;padding-top:3px}
.achievementLockedContainer{position:relative}
.achievementLockedOverlay{z-index:1;position:absolute;right:21px;top:18px;pointer-events:none}
.achievementPreview{display:block;margin-right:1px}
.achievementLockedContainer .achievementPreview{opacity:.3}
.achievementTooltip{display:block}
._3t4o{margin-bottom:4px;margin-top:-4px}
._a1g{margin-bottom:5px}
._a1h{margin-right:8px}
._a1i{margin-top:2px}
.uiBackgroundBar, ._mq{position:relative}
._mr{background:#e7ebf2;height:100%;position:absolute}

#bootloader_p9Z5s { height: 42px; }