/*1364911474,178130467*/

._5084{border:1px solid #bbb;height:127px;left:0;margin-bottom:-35px;position:relative;top:1px;width:398px}
._507_{background-color:#fff;border:3px solid #fff;border-radius:2px;display:block;height:99px;width:99px}
._5080{background:rgba(0, 0, 0, .3);border-radius:3px;bottom:13px;left:13px;margin:13px 7px -3px -3px;padding:1px;position:absolute}
._5083{overflow:hidden}
._508c{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yG/r/8RHv8nDQAHL.png) repeat-x left top;height:85px}
._508d{background-color:#f5f7f7;height:85px}
._508c, ._508d{bottom:42px;position:absolute;width:398px}
._518v, ._518w{bottom:13px;max-height:30px;overflow-y:hidden;position:absolute}
._518v{color:#fff}
._518w{color:#000}
._5088, ._5089{left:128px;line-height:1.2;max-width:250px;position:relative;z-index:1}
._5088{bottom:21px;color:#fff}
._5089{bottom:-65px;color:gray}
._508a, ._508b{margin-left:3px;position:relative;width:150px}
._508a{bottom:-7px;left:130px;margin-bottom:22px}
._508b{bottom:6px;left:123px;z-index:1}
._5081{bottom:10px;float:right;position:absolute;right:10px}
.promotedCurrencySelector{margin:-3px 0 -3px -6px}
.promotedCurrencySelector .uiButtonText{font-weight:normal}
._2sc{background-color:#fff9d7;border-bottom:1px solid #e2c822}
._2sd{font-size:12px;line-height:18px;margin:0;padding:0}
._2se{background:#ffebe8;border:1px solid #dd3c10}
._2sf{font-weight:bold;font-size:12px}
._1b6m{background:#f2f2f2;border-bottom:1px solid #e8e8e8;color:gray;font-size:10px;padding:8px 15px;position:relative}
._2s5{background:#fff;border-bottom:1px solid #e8e8e8;padding:20px;position:relative}
._2s5.step_1{padding-top:15px;padding-bottom:15px;z-index:3}
._2s5.step_2{z-index:2}
._2s5.step_3{padding-top:10px;z-index:1}
._2s5.last{border:0}
._ad9{background-color:#e7ebf2;border:1px solid #ccc;padding:5px}
._ada{color:#333;font-size:11px;padding-bottom:2px}
._2sg{height:70px;overflow:hidden;width:70px}
._2sh{font-size:12px;height:62px;outline:0;padding:3px 5px;width:135px}
._90i{float:left;height:62px;outline:0;padding:0 10px;width:230px}
._2sj{color:#878787;font-weight:bold;width:105px}
._2sj.budgetSectionLabel{padding-top:9px;padding-bottom:9px}
._90j{width:350px}
._2sk{font-size:12px;font-weight:bold;width:240px}
._2wv{margin:-3px 0 -3px -6px}
._2wv .uiButtonText{font-weight:normal}
._2t7.budgetExplain{font-size:10px}
._500k .uiButtonText{max-width:56px}
._500l{width:260px}
.fbBoostedPostBudgetWidget .budgetSelectorButton{background-color:#fff;border:1px solid #bdc7d8;color:#333;text-decoration:none}
.fbBoostedPostBudgetWidget .budgetSelectorButtonDisabled{background-color:#f2f2f2;border:1px solid #ccc;color:gray;text-decoration:none}
.fbBoostedPostBudgetWidget .budgetSelector{display:block}
.fbBoostedPostBudgetWidget .budgetSelectorWrapper{margin:4px 0 0 5px}
.ff4 .fbBoostedPostBudgetWidget .budgetSelectorWrapper{margin-top:6px}
.fbBoostedPostBudgetWidget .budgetSelectorChevronWrapper{border:1px solid transparent;height:29px;margin:-1px -1px -1px 5px}
.fbBoostedPostBudgetWidget .budgetSelectorChevron{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y9/r/WCWeQT3eSXp.png);background-repeat:no-repeat;background-size:auto;background-position:right -202px;display:inline-block;height:20px;margin-top:5px;padding-right:23px}
.budgetSelectorButtonDisabled .budgetSelectorChevron{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y9/r/WCWeQT3eSXp.png);background-repeat:no-repeat;background-size:auto;background-position:right -104px}
.fbBoostedPostBudgetWidget .budgetSelectorButton:hover, .fbBoostedPostBudgetWidget .budgetSelectorButton:active{border:1px solid #999;border-bottom-color:#888;box-shadow:0 1px 0 rgba(0, 0, 0, .1)}
.fbBoostedPostBudgetWidget .budgetSelectorButton:hover .budgetSelectorChevronWrapper{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y9/r/WCWeQT3eSXp.png);background-repeat:no-repeat;background-size:auto;background-position:-352px -446px;border-color:#999;border-bottom-color:#888}
.fbBoostedPostBudgetWidget .selected .budgetSelectorButton{background-color:#6d84b4;border:1px solid #3b5998;border-bottom-color:#6d84b4;color:#fff}
.fbBoostedPostBudgetWidget .selected .budgetSelectorButton .budgetSelectorChevronWrapper{background-image:none;border-color:transparent}
.fbBoostedPostBudgetWidget .selected .budgetSelectorButton .budgetSelectorChevron{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y9/r/WCWeQT3eSXp.png);background-repeat:no-repeat;background-size:auto;background-position:right -348px}
.fbBoostedPostBudgetWidget .budgetSelectorLabel{font:bold 18px/21px Helvetica, Arial, sans-serif}
.fbBoostedPostBudgetWidget .selected .budgetSelectorLabel{text-shadow:0 1px 0 rgba(0, 0, 0, .15)}
.fbBoostedPostBudgetWidget .budgetSelectorReach{padding:4px 0 0 10px;text-align:right}
.ff4 .fbBoostedPostBudgetWidget .budgetSelectorReach{padding-top:2px}
.fbBoostedPostBudgetSelector a.itemAnchor{padding:7px 16px 7px 10px}
.fbBoostedPostBudgetSelector .itemLabel{padding-left:25px}
.fbBoostedPostBudgetSelector .checked a.itemAnchor{background-image:none}
.fbBoostedPostBudgetSelector .checked .itemLabel{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yu/r/CgLauo0jQt7.png);background-repeat:no-repeat;background-size:auto;background-position:left 1px}
.ff4.mac .checked .itemLabel{background-position:left 2px}
.fbBoostedPostBudgetSelector .checked .highlighted .itemLabel{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yu/r/CgLauo0jQt7.png);background-repeat:no-repeat;background-size:auto;background-position:left -14px}
.fbBoostedPostBudgetSelector .budgetValueLabel{float:left;font-family:Helvetica, Arial, sans-serif;width:135px}
.ff4.mac .fbBoostedPostBudgetSelector .budgetValueLabel{margin-top:1px}
div.wideBudgetValue .budgetValueLabel{width:150px}
.fbBoostedPostBudgetSelector .discounted .budgetValue, .fbBoostedPostBudgetWidget .showDiscount .buttonBudgetValue{color:#777;text-decoration:line-through}
.fbBoostedPostBudgetSelector .discountedValue, .fbBoostedPostBudgetWidget .buttonDiscountedValue{margin-left:5px}
.fbBoostedPostBudgetSelector .budgetValueReach{font-weight:normal}
.fbBoostedPostBudgetWidget .selected .budgetSelectorButton .buttonBudgetValue, .selected .budgetSelectorButton .budgetSelectorReach span, #globalContainer .fbBoostedPostBudgetSelector .highlighted .budgetValueReach, .fbBoostedPostBudgetSelector .highlighted .budgetValue{color:#fff}
.fbBoostedPostBudgetSelector .highlighted .budgetValueLabel, .fbBoostedPostBudgetSelector .highlighted .budgetValueReach{text-shadow:0 1px 0 rgba(0, 0, 0, .15)}
.editPost .fbBoostedPostBudgetWidget{margin-top:-4px}
.fbBoostedPostBudgetSelector .uiMenuXItem .itemLabel{max-width:500px}
.promotedPostSectionBorder{border-top:1px solid #e7e7e7}
.promotedPostSection table{width:100%}
.promotedPostSection td{padding-bottom:15px;padding-top:15px}
.promotedPostSectionLabel{padding-left:15px;width:65px}
.promotedPostSectionContent{padding-right:15px}
._50zb{border-bottom:1px solid #e6e6e6;border-top:1px solid #ccc;margin-left:-18px;padding-left:18px}
html ._50zc{margin-bottom:10px;margin-top:5px}
.friendListHeader{height:41px;padding-top:4px}
.friendListHeader .editForm, .friendListHeaderEditMode .staticName, .friendListHeaderEditMode .friendListSubHeader, .friendListManage .updateType, .updateTypesExpanded .chooseUpdateTypes{display:none}
.friendListHeaderEditMode .editForm, .updateTypesExpanded .updateType{display:block}
.friendListHeader .friendListName .nameInput{font-size:13px;width:140px}
.friendListSubHeader{padding-left:23px}
.friendListHeader .timelineUnitContainer .uiSelector{padding-left:5px;margin-left:-12px;margin-top:-3px}
.friendListHeader .fbAudienceHover{margin-left:-1px}
div#contentCol.friendListFilter{padding-top:15px !important}
div#contentCol.friendListFilter div#rightCol{padding-top:0}
.friendListFilterNullState{padding-top:40px;text-align:center}
.friendListRestrictedNullState{border-top:1px solid #ccc;font-size:12px;padding-top:40px;text-align:justify}
.notificationSelector .uiSelectorButton .img{margin-top:2px;margin-left:2px}
.friendListTypeaheadBox .plusIcon{position:absolute;top:7px;left:11px}
.friendListTypeaheadBox .friendListAddTypeahead{background-color:transparent}
.friendListAddTypeahead .textInput{padding-left:15px}
.friendListAddTypeahead .noPadding{padding-left:0}
.friendListAddTypeahead{margin-right:8px}
.friendListTypeaheadBox{position:relative}
.home #rightCol .friend_list_new_feed_header{height:34px;margin-bottom:5px;padding-top:5px;padding-right:20px}
.smartListTip{cursor:default;font-weight:normal}
.empty .fbFriendListMemberBoxFacepile,
.fbFriendListNoMembersMessage{display:none}
.empty .fbFriendListNoMembersMessage{display:block}
.fbInsightsTableList td{height:18px;vertical-align:top}
.fbInsightsTableList .subtle{color:#999}
.fbInsightsTableListDigit{padding-right:6px;font-weight:bold;text-align:right;white-space:nowrap}
.fbInsightsTableList .fbInsightsTableListRule{padding:0;vertical-align:middle}
.fbInsightsTableListRule hr{border-bottom:solid 1px #eee;height:0}
.fbInsightsTableListHidden{display:none}
.expandedMode .fbInsightsTableListHidden{display:table-row}
.showLess,
.expandedMode .showMore{display:none}
.showMore,
.expandedMode .showLess{display:inline}
.fbInsightsTinyStatistic{vertical-align:baseline}
.sp_a5rbwl{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yu/r/CgLauo0jQt7.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:14px;width:17px}
.sx_84f0cd{background-position:-0px -0px}
.sx_0e861b{background-position:-0px -15px}
.uiMenuXSeparator{border-bottom:1px solid #ddd;margin:5px 7px 6px;padding-top:1px}
.uiMenuXItem .staticAnchor{color:#999}

#bootloader_CGG_g { height: 42px; }