/*1364182470,178142511*/

._70r, ._70s, ._70t, ._70u{width:397px}
._70r .ogAggregationSubstory{width:196px}
._70s .ogAggregationSubstory{width:176px}
._70t .ogAggregationSubstory, ._70u .ogAggregationSubstory{width:129px}
._4hp{outline:0;position:relative}
._4hq{border:1px solid #e5e5e5;border-top:0;position:relative}
._4hq ._4hr{display:none;position:absolute;right:2px;top:2px;z-index:1}
._4hp:hover ._4hr{display:inline-block}
._4hs{background:#f7f7f7;padding:7px 6px}
._4ht{max-height:2.56em;overflow:hidden}
._566{height:2.56em}
._4ht .ogContentTitle{padding-right:7px}
._4ht .ogContentTitle, ._4ht .ogContentDescription{display:block}
._4ht .ogContentTitleShort{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
._4hu{border-top:1px solid #e5e5e5;overflow:hidden;white-space:nowrap}
._4hv.ogAggregationBling{background-color:#fff;position:absolute;right:1px}
._4hv{padding:5px 5px 4px}
._4hv .share_action_link, ._4hv .like_link, ._4hv a{color:#6d84b4}
._93n ._93o{display:none}
._4hw{height:14px;padding-left:0;padding-right:0}
._4hw:hover{background-color:#eceff5;text-decoration:none}
._4hw .ogAggregationBlingEmpty{display:none}
._4hw.comment_trigger .ogAggregationBlingEmpty{display:inline-block}
._gxa input{display:none}
._gxb{position:relative}
._3r8v ._gxc, ._gxb ._gxc{position:absolute;right:5px;top:5px;visibility:hidden}
._3r8v:hover ._gxc, ._3r8x._52nd, ._gxb:hover ._4_96, ._gxb:hover ._gxc, ._gxa._52nd{opacity:1;visibility:visible}
._3r8v ._gxc._42bt{right:4px;top:4px;visibility:visible}
._4q1{padding:10px}
._4q3{display:block;position:relative}
._4q4{display:block;line-height:0}
._5ok:after{border:1px solid rgba(0, 0, 0, .1);bottom:0;content:'';left:0;position:absolute;right:0;top:0}

#bootloader_WjEyV { height: 42px; }