/*1365003917,173217629*/

.music_art_small{height:30px;width:30px}
.music_art_medium{height:50px;width:50px}
.music_art_large{height:90px;width:90px}
.music_art_huge{height:196px;width:196px}
.music_art_timeline_rhs{height:103px;width:103px}
.music_art_litestand{height:154px;width:154px}
.music_artwork{background-position:center center;background-repeat:no-repeat;display:block}
.art_border{position:relative}
.art_border:after{border:1px solid rgba(0, 0, 0, .15);bottom:0;content:'';left:0;position:absolute;right:0;top:0}
.art_grid{position:relative;overflow:hidden}
.art_grid_inner .music_artwork{float:left}
.art_grid_inner{position:absolute;left:0;top:0;right:-4px;bottom:-4px}
.featured_song .track_title{font-weight:bold;color:#333}
.featured_song_artists a{color:gray}
.featured_song_header{margin-bottom:2px}
.music_play_button{outline:none}
.button_anchor{display:inline-block}
.button_anchor .music_button_img{display:inline-block;width:14px;height:14px;background-repeat:no-repeat;vertical-align:middle}
.music_button_img{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y_/r/sS7W9JUWQqE.png);background-repeat:no-repeat;background-size:auto;background-position:0 -251px}
.button_anchor:hover .music_button_img{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y_/r/sS7W9JUWQqE.png);background-repeat:no-repeat;background-size:auto;background-position:0 -266px}
.button_anchor:active .music_button_img{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y_/r/sS7W9JUWQqE.png);background-repeat:no-repeat;background-size:auto;background-position:0 -281px}
.music_playing .music_button_img{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y_/r/sS7W9JUWQqE.png);background-repeat:no-repeat;background-size:auto;background-position:0 -311px}
.music_playing .button_anchor:hover .music_button_img{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y_/r/sS7W9JUWQqE.png);background-repeat:no-repeat;background-size:auto;background-position:0 -326px}
.music_playing .button_anchor:active .music_button_img{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y_/r/sS7W9JUWQqE.png);background-repeat:no-repeat;background-size:auto;background-position:0 -341px}
.music_disabled .music_button_img, .music_disabled .button_anchor:active .music_button_img, .music_disabled .button_anchor:hover .music_button_img{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y_/r/sS7W9JUWQqE.png);background-repeat:no-repeat;background-size:auto;background-position:0 -296px}
.music_loading .button_anchor:active .music_button_img, .music_loading .button_anchor:hover .music_button_img, .music_loading .button_anchor .music_button_img{background-position:0 0;background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yh/r/LxbLBWWUI55.gif)}
.artwork_button .button_anchor{display:block;position:relative;overflow:hidden}
.music_button_img_wrap{position:absolute;top:50%;left:50%}
.music_show_on_hover .music_button_img_wrap{opacity:0;-moz-transition:opacity .10s ease-out}
.music_button_trigger_group .music_playing .music_button_img_wrap, .music_button_trigger_group .music_loading .music_button_img_wrap, .music_button_trigger_group.music_playing .music_button_img_wrap, .music_button_trigger_group.music_loading .music_button_img_wrap, .music_button_trigger_group:hover .music_button_img_wrap{opacity:1;-moz-transition-duration:0}
.artwork_button .music_button_img_wrap .music_button_img{display:block;position:relative;margin-top:-50%;left:-50%}
.music_disabled.artwork_button .music_button_img_wrap .music_button_img, .artwork_button .music_button_img_wrap .music_loader{display:none}
.music_loading .artwork_button .music_button_img_wrap
.music_button_img.music_loader{margin-top:-100%;display:block}
.button_large.artwork_button .button_anchor .music_button_img{width:50px;height:50px}
.button_large.artwork_button .music_button_img{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y_/r/sS7W9JUWQqE.png);background-repeat:no-repeat;background-size:auto;background-position:0 0}
.button_large.artwork_button .button_anchor:active .music_button_img, .button_large.artwork_button .button_anchor:hover .music_button_img{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y_/r/sS7W9JUWQqE.png);background-repeat:no-repeat;background-size:auto;background-position:0 -50px}
.music_playing .button_large.artwork_button .music_button_img{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y_/r/sS7W9JUWQqE.png);background-repeat:no-repeat;background-size:auto;background-position:0 -100px}
.music_playing .button_large.artwork_button .button_anchor:hover
.music_button_img, .music_playing .button_large.artwork_button .button_anchor:active
.music_button_img{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y_/r/sS7W9JUWQqE.png);background-repeat:no-repeat;background-size:auto;background-position:0 -150px}
.music_loading .button_large.artwork_button .button_anchor:active
.music_button_img, .music_loading .button_large.artwork_button .button_anchor:hover
.music_button_img, .music_loading .button_large.artwork_button .music_button_img{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y_/r/sS7W9JUWQqE.png);background-repeat:no-repeat;background-size:auto;background-position:0 -200px}
.music_loading .button_large.artwork_button .music_button_img_wrap
.music_button_img.music_loader{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y7/r/BZSS7yGugLV.gif) 50% no-repeat}
.button_medium.artwork_button .button_anchor .music_button_img{width:30px;height:30px}
.button_medium.artwork_button .music_button_img{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yX/r/YurnGbd0S_-.png);background-repeat:no-repeat;background-size:auto;background-position:0 0}
.button_medium.artwork_button .button_anchor:active .music_button_img, .button_medium.artwork_button .button_anchor:hover .music_button_img{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yX/r/YurnGbd0S_-.png);background-repeat:no-repeat;background-size:auto;background-position:0 -30px}
.music_playing .button_medium.artwork_button .music_button_img{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yX/r/YurnGbd0S_-.png);background-repeat:no-repeat;background-size:auto;background-position:0 -60px}
.music_playing .button_medium.artwork_button .button_anchor:hover
.music_button_img, .music_playing .button_medium.artwork_button .button_anchor:active
.music_button_img{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yX/r/YurnGbd0S_-.png);background-repeat:no-repeat;background-size:auto;background-position:0 -90px}
.music_loading .button_medium.artwork_button .button_anchor:active
.music_button_img, .music_loading .button_medium.artwork_button .button_anchor:hover
.music_button_img, .music_loading .button_medium.artwork_button .music_button_img{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yX/r/YurnGbd0S_-.png);background-repeat:no-repeat;background-size:auto;background-position:0 -120px}
.music_loading .button_medium.artwork_button .music_button_img_wrap
.music_button_img.music_loader{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yp/r/DrGcdjdlpCl.gif) 50% no-repeat}
.pages_play_button .button_anchor .music_button_img{vertical-align:top;margin-top:3px}
.pages_play_button{display:inline}
.music_song_item .track_title{color:#000}
.music_song_item .track_artists{display:inline}
.hidePlay .playButton{display:none}
.song_detailed{border-top:1px solid #e9e9e9;padding-top:5px;padding-bottom:5px}
.songListPager{position:relative}
.songListPager .loading{display:none}
.songListPagerOuter.async_saving .songListPager .loading{position:absolute;display:inline;left:100%;top:50%;margin:-5px 0 0 5px}

._5-r{margin-left:-3px}
._5-r._1ln2{margin-left:0}
._5-r._4jul{margin-bottom:-3px}
._5-r ._93k{float:left;margin:0 0 3px 3px;width:103px}
._5-r._620 ._gx9{border:1px solid rgba(138,161,194,.25);display:block;float:left;height:32px;margin:0 0 3px 3px;padding:34px 0 33px;width:101px}
._4jul ._4un3{display:block;height:103px}
._1ln2 ._4un3{height:64px;width:64px}
._1ln2 .uiList > li{border-color:#e9eaed;padding:3px 0}
._1ln2 .uiList > li:first-child{padding-top:0}
._1ln2 .uiList > li:last-child{padding-bottom:0}
._ph5{font-size:11px;line-height:14px}
._4jul ._ph5{border:1px solid #e9eaed;border-top:none;padding:4px 6px}
._50nl:hover ._ph5{border-color:#d3d7dc}
._1ln2 ._ph5{height:64px;padding-right:10px}
._4jul ._ph5 ._50kb{height:41px}
._93k ._4-1, ._4jul ._ph5 ._4-0 a, ._4jul ._ph5 ._4-1 a{font-weight:normal;line-height:16px}
._50nl{display:block}
._50nl:hover{text-decoration:none}
._4jul ._ph5 ._4-0 a, ._5-r ._4-1, ._ph5 ._4-if{font-weight:normal;margin-top:1px}
._93k ._4-jr{right:4px;top:4px}
._5-r ._4_98{display:block;height:30px;overflow:hidden}
._51it{display:none;margin-right:1px}
._51iu{padding-bottom:1px;padding-top:1px}
._51iv.expanded ._51it, ._51iq{display:block}
._51iq .uiPopoverButton{padding-left:3px;text-align:left;width:237px}
._51ir .uiPopoverButton{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yu/r/gtc9_WHMVQj.png);background-repeat:no-repeat;background-size:auto;background-position:right -16px;background-color:transparent;border-color:#bdc7d8;box-shadow:none}
._51ir .uiButtonText{color:#777;font-weight:normal}
._51iv ._51iw{margin-top:2px}
._w8_{padding:3px 3px 1px}
._w90 ._w8_, ._1f8g ._w8_{padding:0}
._w90 ._1g2x{margin:0 0 -2px}
html ._w8_ .fbTimelineFriendsBoxLarge{margin:0 0 1px}
._w8_ .fbTimelineFriendsBoxLarge .friendsBoxInner{padding-top:0}
html ._4se3{background:#f6f7f8;font-family:'Helvetica Neue', Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;line-height:21px;padding:20px 20px 22px}
html ._4se3:hover{background:#e9eaed}
._51r4{float:left;margin:5px 9px 0 0}
._51r5{overflow:hidden}
._w8_ ._51ki{border-bottom:1px solid #eee;display:block;margin-bottom:3px;padding:8px 5px 8px 12px}
._w8_ ._51w7{float:left}
._w8_ ._51w6{display:block;overflow:hidden}
html .timelineReportContainer .timelineReportContent .timelineUnitContainer._503z{border:0;margin:0 auto;padding:2px 0 0;width:321px}
._4_uf{border-bottom:1px solid #e9eaed;font-size:11px;margin:0 12px;padding:10px 0}
._4_uf:last-child{border-bottom:none}
._4_vp{display:inline-block;width:275px}
._4_ug{color:#6a7480;font-weight:bold}
._4_uh{margin-top:2px}
._4_uh, ._4_uh a{color:#adb3bc}
._513w{margin-top:1px}
html ._51iw{margin-right:6px}
._4_ij{position:absolute;right:4px;top:4px}
._4zpu{display:block}
._4zpu ._4-py{display:inline-block;margin:0}
._4oa2{color:#666;padding-bottom:10px}
._4oa2 .uiContextualLayer{margin-bottom:5px}
._6r5{display:inline-block;line-height:22px;width:300px}
html ._6r5, html ._6r5 .wrap{border-color:#adb3bc}
._4kmj .uiSelector{border:1px solid transparent}
._4kmj{position:relative}
._6r5 .wrap{padding-left:20px}
._4iab{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y9/r/WCWeQT3eSXp.png);background-repeat:no-repeat;background-size:auto;background-position:-604px -20px;height:19px;left:1px;position:absolute;top:2px;width:22px;z-index:2}
._4sj0 ._6r5{line-height:20px;margin-bottom:3px;width:315px}
._4sj0 ._4-k6{width:274px}
._4sj0 .uiSelector{border:0}
._6r5.typeaheadLoading{background:#fff url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yb/r/GsNJNwuI-UM.gif) no-repeat 275px 5px}
.relConnector{display:none}
.relStatus_2 .relConnector_2,
.relStatus_3 .relConnector_3,
.relStatus_4 .relConnector_4,
.relStatus_5 .relConnector_5,
.relStatus_6 .relConnector_6,
.relStatus_10 .relConnector_10,
.relStatus_11 .relConnector_11{display:inline}
.relationshipWarning .pendingPartner,
.relationshipWarning .statusChange,
.relationshipWarning .statusSingle{background-color:#edeff4;border:1px solid #d8dfea;margin-bottom:5px}
.relationSelector{height:22px;margin-top:0}
.sp_cxgfyg{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y_/r/sS7W9JUWQqE.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:104px;width:14px}
.sx_10b99b{width:50px;height:250px;background-position:0 0}
.sx_05ce6a{background-position:0 -251px}

#bootloader_TOpe1 { height: 42px; }