/*1364835825,173214271*/

.uiStream .storyUnconnectedPost .unconnectedPostHeader{color:#979797;margin:5px 0 -2px 60}
.uiStreamHomepage .uiStreamStory:first-child .unconnectedPostHeader{margin-top:10px}
.uiStream .storyUnconnectedPost .highlightSelector{margin-right:20px;margin-top:-2px}
.uiStream .storyUnconnectedPost .unconnectedPostText{margin:8px 0 0;max-width:395px}
.uiStream .storyUnconnectedPost .unconnectedPostHide{float:right;margin:3px 0;padding-top:2px}
.uiStream .storyUnconnectedPost .storyInnerContent{position:relative}
._505o{position:relative}
._505o > button{background-color:transparent;border:0;bottom:0;height:27px;position:absolute;text-indent:-10000px}
._505n{left:0;width:56px}
._505m{left:56px;width:32px}

#bootloader_1GPj6 { height: 42px; }